target/
project/boot/
.idea/
.idea*
*.log
*.loaded
*.pid
##
## emacs & ensime
##
project/.ensime
.ensime*/
.ensime
**/TAGS
**/.tags
**/.bloop
ensime_port
.#*
*.swp
.history
.cache
native/
##
## direnv
##
.envrc

